<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Polls</title>
  </head>

  <body>
    <h1>Open Polls</h1>
  </body>

  {% load static %}

  <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  
  {% if latest_question_list %}
      <ul>
      {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
      {% endfor %}
      </ul>
      <p> Checking </p>
  {% else %}
      <p>No polls are available.</p>
      <p> Checking </p>
  {% endif %}
  
</html>
